# Dependencias y artefactos de construcción de Node.js
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/build
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# Archivos de entorno del Frontend
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production

# Dependencias y artefactos de Python
/backend/.venv
/backend/__pycache__
/backend/uploads
/backend/outputs
/backend/temp_files
*.pyc
*.pyo
*.pyd

# Archivo de entorno del Backend
/backend/.env

# Otros
.DS_Store
*.tmp
*.bak
*.swp
node_modules
