# Framework principal
fastapi==0.111.0
uvicorn[standard]==0.30.0

# ORM Prisma
prisma==0.12.0

# Variables de entorno
python-dotenv==1.0.1
pydantic==2.5.0
pydantic-settings==2.1.0

# Seguridad
passlib[bcrypt]==1.7.4
python-jose==3.3.0

# Cliente HTTP
httpx==0.23.3

# Supabase (opcional)
supabase==1.0.3

# Emails (opcional)
aiosmtplib==2.0.2

# PDF/Word/Image Conversion
docx2pdf==0.1.8
Pillow==10.3.0
pypdf==4.2.0
